.c1{
    margin:0 .17rem;
    background: #fff;
    margin-bottom: .05rem;
    font-size: .14rem;
}
.date{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .12rem;
    border-bottom: 8px solid #f5f5f5;
    font-size: 16px;
    border-top: 8px solid #f5f5f5;
}
.swan-icon {
    width: .25rem;
    height: .25rem;
}

.item{
    padding: .17rem .12rem .17rem .12rem;
    border-top: .07rem solid #f5f5f5;
}

.title{
    background: #3c76ff;
    color: #fff;
    padding: .12rem;
    border-radius: 4px;
    text-align: center;
    margin-top: .17rem;
    font-weight: 500;
    font-size: .16rem;
}

.item-header{
    font-size: .14rem;   
}
.item-status{
    color: red;
     font-size: .14rem;  
     float: right;
     clear: both;
     
}

.item-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .17rem;
}
.item-content:first-child,.item-content:last-child{
    padding-left: .17rem;
    font-size: .18rem;
    font-weight: 550;
}
.vs{
    color: red;
}